@charset "UTF-8";

@media screen and (min-width: 500px) and (max-width: 768px) {
    .subheader .slogan span {
        position: relative;
        left: 50%;
        top: 50px;
    }

    .subheader .slogan .span01 {
        font-size: 2em;
        width: 100%;
        position: relative;
        left: 50%;
    }

    .subheader .slogan .span03 {
        margin-top: 40px;
        font-size: 5em;
    }

    .fundo {
        width: 500px;  
    }

    .texto {
        width: 450px;
    }

    .paragrafo_adress-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
 

    .redes-sociais a img {
    width: 40px;
    margin-left: 30px;
    }
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 1024px){

    .fundo {
        width: 500px;  
    }

    .texto {
        width: 450px;
    }

    

    .subheader .slogan span {
        position: relative;
        left: 60%;
        top: 100px;
    }

    .subheader .slogan .span01 {
        font-size: 3em;
        width: 100%;
        position: relative;
        left: 60%;
    }

    .subheader .slogan .span03 {
        margin-top: 40px;
        font-size: 6em;
    }

    .subheader .paragraph span {
        position: relative;
        top: 5%;
        left: 20%;

        font-size: 1.1em;
    }

    .paragrafo_adress-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .redes-sociais p {
    text-align: start;
    } 

    .redes-sociais a img {
    width: 50px;
    margin-left: 40px;
    }
}

/*DESKTOP*/
@media  screen and (min-width: 1024px) {
    .logo  img {
        width: 200px;
    }
    
    .menu-button {
        display: none;
    }

    .menu-button_logo {
        background: none;
    }

    /*.logo {
        position: relative;
        left: 100px;
    }*/

    nav {
        display: flex;
        justify-content: space-around;
        background-color: white;

        overflow-x: hidden;
    }

   

    menu {
        background: none;
        max-width: none;
        margin: 0;
        width: 50%;
        overflow-y: visible;
        height: 0%;
    }

    .menu-list {
        display: flex;
            transform: translate(0);
            transition: transform 0ms;
    }

    .menu-list li {
        letter-spacing: 3px;
        margin-left: 20px;
        padding: 0;
        padding: 15px 20px;
        border: none;

        
    }

    .menu-list li a {
        color: black;
        font-weight: 500;
    }

    .cards01, .cards02 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .subheader {
        margin-top: 0;
    }

    .subheader .slogan span {
        position: relative;
        left: 70%;
        top: 100px;
    }

    .subheader .slogan .span01 {
        font-size: 4em;
        width: 100%;
        position: relative;
        left: 70%;
    }

    .subheader .slogan .span03 {
        margin-top: 50px;
        font-size: 7.5em;
    }

    .subheader .paragraph span {
        position: relative;
        top: 5%;
        left: 20%;

        font-size: 1.5em;
    }

    .paragrafo_adress-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .redes-sociais p {
    text-align: start;
    } 

    .redes-sociais a img {
    width: 50px;
    margin-left: 40px;
    }

}


